<header>
    <h1>LEGO Exchange Platform</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/exchanges">Échanges</a></li> 
            <li><a href="/apropos">À propos</a></li>
            
        </ul>
    </nav>
</header>
