<form id="echange-form" onsubmit="return validateAndSubmitExchange(event)">

<div class="lego-tab">
    <div class="brick-container">
        <img src='/assets/brique-2x2-blanc.jpg'/>
        <div class="brique-name">Brique 2x2 blanc</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button" >-</button>
            <input type="text" id="1" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button" >+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x2-bleu.jpg'/>
        <div class="brique-name">Brique 2x2 bleu</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="2" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x2-jaune.jpg'/>
        <div class="brique-name">Brique 2x2 jaune</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="3" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x2-noir.jpg'/>
        <div class="brique-name">Brique 2x2 noir</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="4" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x2-rouge.jpg'/>
        <div class="brique-name">Brique 2x2 rouge</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="5" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x2-vert.jpg'/>
        <div class="brique-name">Brique 2x2 vert</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="6" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x4-blanc.jpg'/>
        <div class="brique-name">Brique 2x4 blanc</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="7" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

     <div class="brick-container">
        <img src='/assets/brique-2x4-bleu.jpg'/>
        <div class="brique-name">Brique 2x4 bleu</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="8" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x4-jaune.jpg'/>
        <div class="brique-name">Brique 2x4 jaune</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="9" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x4-noir.jpg'/>
        <div class="brique-name">Brique 2x4 noir</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="10" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x4-rouge.jpg'/>
        <div class="brique-name">Brique 2x4 rouge</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="11" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-2x4-vert.jpg'/>
        <div class="brique-name">Brique 2x4 vert</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="12" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x4-bleu.jpg'/>
        <div class="brique-name">Brique 2x4 bleu</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="13" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div> 

    <div class="brick-container">
        <img src='/assets/plaque-2x4-jaune.jpg'/>
        <div class="brique-name">Plaque 2x4 jaune</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="14" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x4-rouge.jpg'/>
        <div class="brique-name">Plaque 2x4 rouge</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="15" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x4-vert.jpg'/>
        <div class="brique-name">Plaque 2x4 vert</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="16" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x12-bleu.jpg'/>
        <div class="brique-name">Plaque 2x12 bleu</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button" >-</button>
            <input type="text" id="17" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button" >+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x12-noir.jpg'/>
        <div class="brique-name">Plaque 2x12 noir</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="18" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x12-rouge.jpg'/>
        <div class="brique-name">Plaque 2x12 rouge</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="19" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-2x12-vert.jpg'/>
        <div class="brique-name">Plaque 2x12 vert</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="20" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-base-32x32-noir.jpg'/>
        <div class="brique-name">Plaque base 32x32 noir</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="21" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/tuile-2x2-bleu.jpg'/>
        <div class="brique-name">Tuile 2x2 bleu</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="22" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/plaque-ronde-1x1-jaune.jpg'/>
        <div class="brique-name">Plaque ronde 1x1 jaune</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="23" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>

    <div class="brick-container">
        <img src='/assets/brique-ronde-1x1-blanc.jpg'/>
        <div class="brique-name">Brique ronde 1x1 blanc</div>
        <div class="quantity-control">
            <button type="button" class="quantity-button decrement-button">-</button>
            <input type="text" id="24" class="quantity-display" value="0">
            <button type="button" class="quantity-button increment-button">+</button>
        </div>
    </div>
</div>

<label class="exchange-name" for="exchange-name">Nom de l'échange:</label>
<input type="text" id="exchange-name" name="exchange-name" required>

<button class="submit-echange" type="submit">Creer l'echange</button>
</form>

<script src="/js/lego.js"></script>
